<div class="player-section">
  <div class="center-button">
    <a class="btn blue waves-effect waves-white" href="/players/new">Submit Player</a>
  </div>

  <div class="grid">
    {{#each players}}





      <div class="player waves-effect waves-light">
        <img src={{this.imgurl}} />
        <p><a href="/players/{{this.username}}">{{this.username}}</a></p>

        {{#if ../currentUser.mod}}
          <div class="admin-buttons">
            <!--Delete-->
            <form method="POST" action="/players/delete/{{this._id}}">
              <button class="delete-button" type="submit"><i class="material-icons">delete</i></button>
            </form>

            <a class="edit-button" href="players/{{this.username}}/edit"><i class="material-icons">edit</i></a>


            <!--Approve-->
            <form class="approveForm" id={{this._id}} method="POST" action="/players/{{this._id}}">
              <div class="form-group">
                <button class="approve-button" type="submit"><i class="material-icons">check</i></button>
              </div>
            </form>
          </div>
        {{/if}}
      </div>
    {{/each}}

  </div>
</div>
