
  <h3 align="center">Recent Stories</h3>
  <div class="stories-con">
    {{#each comments}}
      <div class="comment-box">{{#if ../currentUser.mod}}  <div class="admin-buttons-comment">  <!--Delete--><form method="POST" action="/comments/delete/{{this._id}}"><button class="delete-button" type="submit"><i class="material-icons">delete</i></button></form>  </div>  {{/if}}        {{#if this.onAPlayer}}<a href="/playersid/{{this.playerId}}">View Player</a>{{else}}<a href="/factionsid/{{this.factionId}}">View Faction</a>{{/if}}<p>
        By: <a href="/profiles/{{this.username}}">{{this.username}}</a></p>
        <p><b>{{this.title}}</b></p>
        <p>{{this.content}}</p>
      </div>
    {{/each}}
  </div>
