{{#each factions}}
<div class="auth-page">

  <div class="auth-box">
    <form id="login-box" method="POST" action="/factions/{{this._id}}/edit">
        <div class="top-lab">Edit {{this.name}}</div>

        {{#if error}}
        <div id="error">{{{error}}}</div>
        {{/if}}

        Name<input class="field" value="{{this.name}}" maxlength="30" placeholder="Player Username" name="username" type="text">
        Description<input class="field" value="{{this.description}}" placeholder="Non-Biased Description" name="description" type="text">
        ImgUrl<input class="field" value="{{this.imgurl}}" placeholder="imgurl (ENDING WITH .JPG, .PNG, ETC.)" name="imgurl" type="text">


        <input class="auth-btn btn blue" value="Update Faction" type="submit">
        <br />
        <p>New Factions must be approved by mods before they appear on the front page</p>

    </form>

  </div>

</div>
{{/each}}
